body{ z-index: -1;
    background-attachment: fixed;
    background-image: url(../Media/Images/MundoLava/mapalava1.png);
    backdrop-filter: blur(10px);
    z-index: -1;
    /*cursor: url(../Media/Images/cursor1.png),auto;*/
    margin: 0px;

    /*animation-name: FondoColores;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;*/
}

/*@keyframes FondoColores {
    from {
        background-color:#64f268;
    }to {

        background-color:#09680b;
    }		
}*/

 #pantalla{
   
    background-size: 100% 100%;
 }
.pantalla{
    
    z-index: 0;
    width: 1229px ;
    height: 820px;
    border: solid 5px black;
    display: grid;
    /*cursor: none;*/
    gap: 0px;
    grid-template-areas:
    'a b c d e f g h i j k l' 
    'a b c d e f g h i j k l' 
    'a b c d e f g h i j k l' 
    'a b c d e f g h i j k l' 
    'a b c d e f g h i j k l'
    'a b c d e f g h i j k l'
    'a b c d e f g h i j k l'
    'a b c d e f g h i j k l'
    'a b c d e f g h i j k l';
}

.casilla{
    background-size: contain;
    background-repeat: no-repeat; 
    z-index: 1;
    width: 100px;
    height: 100px;
    
   
   
    
}

.nivel{
    width: 7%;
    font-family: 'Super Mario';
    font-size: xx-large;
    background-color: #ffffb9;
    border: solid 8px #ffff00;
    padding: 1px;
    border-radius: 10px;
}

@font-face {
    font-family: 'Super Mario';
    src: url(../Media/fuente/SuperMario256.ttf) format('truetype');
}
.limite{
    background-size: cover;
    z-index: 1;
    width: 100px;
    height: 100px;
    
    
}
#texto{
    width: 80%;
    border: solid 1px;
    margin: 3%;
    overflow-x:hidden;
    text-align:left;
    word-wrap: break-word;
    height: 100px;
    font-size: 25px;
}
.vidas{
    right: 0px;
    /*background-color: #792424 ;
    border: solid 6px #f41a1a;*/
    width:15.7%;
    height:10.3vh;
    position: fixed;
    display: grid;
    gap: 0px;
    grid-template-areas:
    'a b c';
    border-radius: 12px;
    box-sizing: border-box;
    padding-top: 0.3%;
    margin-top: 1%;
    margin-right: 1%;
    
}

.ControlSonido{
    position: fixed;
    top:96.2vh;
    right: 0px;
    background-color: blue ;
    width: 40px;
    height: 40px;

}