body{
   
    background-attachment: fixed;
    cursor: url(../Media/Images/cursor1.png),auto;
    margin: 0px;
    
}
.pantalla{
    z-index: 0;
    background-image: url(../Media/Images/NivelesTerminados/NivelVolcanico.jpg);
    background-size: 100% 100%;
    width: 1200px ;
    height: 800px;
border: solid 1px black;
display: grid;
gap: 0px;
grid-template-areas:
'a b c d e f g h i j k l' 
'a b c d e f g h i j k l' 
'a b c d e f g h i j k l' 
'a b c d e f g h i j k l' 
'a b c d e f g h i j k l'
'a b c d e f g h i j k l'
'a b c d e f g h i j k l'
'a b c d e f g h i j k l' ;
}
.casilla{
    background-size: cover;
    z-index: 1;
    width: 100px;
    height: 100px;
    
}
.nivel{
    height: 20px;
}