body{ z-index: -1;
    background-attachment: fixed;
    /*cursor: url(../Media/Images/cursor1.png),auto;*/
    margin: 0px;
}
 #pantalla{
   
    background-size: 100% 100%;
 }
.pantalla{
    
    z-index: 0;
    width: 1229px ;
    height: 820px;
    border: solid 5px black;
    display: grid;
    /*cursor: none;*/
    gap: 0px;
    grid-template-areas:
    'a b c d e f g h i j k l' 
    'a b c d e f g h i j k l' 
    'a b c d e f g h i j k l' 
    'a b c d e f g h i j k l' 
    'a b c d e f g h i j k l'
    'a b c d e f g h i j k l'
    'a b c d e f g h i j k l'
    'a b c d e f g h i j k l'
    'a b c d e f g h i j k l';
}

.casilla{
    background-size: contain;
    background-repeat: no-repeat; 
    z-index: 1;
    width: 100px;
    height: 100px;
    border:solid 1px;
    
   
   
    
}

.nivel{
    height: 20px;
    font-family: 'Super Mario';
    font-size: xx-large;
}

@font-face {
    font-family: 'Super Mario';
    src: url(../Media/fuente/SuperMario256.ttf) format('truetype');
}
.limite{
    background-size: cover;
    z-index: 1;
    width: 100px;
    height: 100px;
    
    
}
#texto{
    width: 80%;
    border: solid 1px;
    margin: 3%;
    overflow-x:hidden;
    text-align:left;
    word-wrap: break-word;
    height: 100px;
    font-size: 25px;
}