#padre{
    z-index: 0;
    width: 1000px ;
    height: 750;
    border: solid 5px black;
    
}
/* #padre2{
    display : flex; 
    align-items: center;
    justify-content: center;
    padding-top : 200px;
    
} */
@font-face {
    font-family : 'PIXEL-LI';
    src: url(../Media/fuente/PIXEL-LI.TTF) format('truetype')

}
h1{
    font-family: 'PIXEL-LI';
    background: #ffffff; 
    padding-top: 250px;
    background: linear-gradient(to right, #ff0000, #000000); 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 80px;
}
