body{
    z-index: -1;
    background-attachment: fixed;
    backdrop-filter: blur(10px);
    background-image: url(../Media/Images/fondo/Muerte.jpg);
    z-index: -1;
    margin: 0px;
    overflow: hidden;
}

#padre{
    width: 1000px ;
    height: 100vh;
    border: solid 5px black;
    background-image: url(../Media/Images/fondo/Muerte.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    cursor: url(../Media/Images/CR4.png),auto;
}
@font-face {
    font-family : 'PIXEL-LI';
    src: url(../Media/fuente/PIXEL-LI.TTF) format('truetype')

}
h1{
    font-family: 'PIXEL-LI';
    background: linear-gradient(to right, #ff0000, #940000); 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 150px;
    /* margin : 0px */
}

@font-face{
    font-family: 'SuperMario256';
    src : url(../Media/fuente/SuperMario256.ttf)
}
#boton{
    font-family: 'SuperMario256';
    width: 200px;
    height: 100px; 
    cursor: url(../Media/Images/CR4.png),auto;
    font-size: 18px;
}
#boton:hover{
    font-family: 'SuperMario256';
    width: 200px;
    height: 100px; 
    background-color: black;
    color:white; 
    cursor: url(../Media/Images/CR4.png),auto;
    font-size: 18px;
}
#boton2{
    font-family: 'SuperMario256';
    width: 200px;
    height: 100px; 
    cursor: url(../Media/Images/CR4.png),auto;
    font-size: 18px;
}
#boton2:hover{
    font-family: 'SuperMario256';
    width: 200px;
    height: 100px;
    background-color: black;
    color:white; 
    cursor: url(../Media/Images/CR4.png),auto;
    font-size: 18px;
}
