#padre{
    width: 1000px ;
    height: 720px;
    border: solid 5px black;
    background-image: url(../Media/Images/fondo/fondorojo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
@font-face {
    font-family : 'PIXEL-LI';
    src: url(../Media/fuente/PIXEL-LI.TTF) format('truetype')

}
h1{
    font-family: 'PIXEL-LI';
    background: linear-gradient(to right, #6c6060, #ffffff); 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 150px;
    /* margin : 0px */
}

@font-face{
    font-family: 'SuperMario256';
    src : url(../Media/fuente/SuperMario256.ttf)
}
#boton{
    font-family: 'SuperMario256';
    width: 200px;
    height: 100px; 

}
#boton2{
    font-family: 'SuperMario256';
    width: 200px;
    height: 100px; 
    
}
